.clints{
    display: flex;
}
.clints_list:not(:last-child){
    margin-right: 30px;
}
.clints_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--network-cl);
    box-sizing: border-box;
    border-radius: 4px;
        &:hover,
        &:focus{
            border-color: var(--acttiv-cl);  
    } 
}
.clint_svg{
    fill: var(--network-cl);
    transition: background-color var(--animation), fill var(--animation);
        .clints_link:hover &,
        .clints_link:focus &{
            fill: var(--acttiv-cl);
    }
}

