.border{
    border-bottom: 1px solid #ECECEC;
}
.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.log{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 24px;
}

.log_item{
    margin-right: 90px;
}
.log_part{
    color: var(--acttiv-cl);
}
.line-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    margin-right: auto;
}
.line-list_nav{
    margin-right: 50px;
}
.line-list li:last-child{
    margin-right: 0px;
}
.line-list_nav{    
    display: block;
}
.line_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--animation);
}
.line_link:hover,
.line_link:focus{
    color: var(--acttiv-cl);  
}
.line-list_current{
    position: relative;
    color: var(--acttiv-cl);
}
.line-list_current::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--acttiv-cl);
    border-radius: 2px;
    margin-top: 28px;
}
.gis{
    margin-left: 30px;
}
.line_link-place{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--articl-text-cl);
}
.line-list_svg{
    fill: currentColor;
    margin-right: 10px;
}